<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% extends 'base.html' %}
{% block body_block %}

<div class="container pt-3" align="center">
     <form method="post">
         <h1>LogIn to enjoy the facilities </h1><br>
         <strong>{{ form.as_p }}</strong>
        {% csrf_token %}
         <a href="#">Forget Password ?</a><br><br>
         <button type="submit" class="btn btn-primary">Login</button>
     </form>
</div>
{% endblock %}
</body>
</html>